
* {
  box-sizing: border-box;
}

body {
  background-color: pink;
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: pink;
  border: 0;
  font-size: 14px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  color: white;
  perspective: 1000px;
  margin-bottom: 30px;
}

.seata {
  background-color: yellow;
  color: black;
  height: 12px;
  width: 15px;
  margin: 3px;
}

.seat {
  background-color: #bbb;
  height: 12px;
  width: 15px;
  margin: 3px;
}

.seat.selected {
  background-color: lightgreen;
}

.seat.occupied {
  background-color: blue;
}


.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 10px;
}

.row {
  display: flex;
}



p.text {
  margin: 5px 0;
}

p {
  color: black;
}

p.text span {
  color: red;
}

#tombol {
  cursor: pointer;
}